table {
	width: 60%;
	margin: 0 auto 1em;
	border: 1px solid #3F2860;
	border-collapse: collapse;
  }
  
  td, th {
	padding: 5px;
	border: 1px solid #3F2860;
  }
  
  tr:nth-of-type(even) {
	background-color: #9BC1C2;
  }
  
  tr:nth-of-type(odd) {
	background-color: #FFFFFF;
  }
  